<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
      <h2>Hosted Events</h2>
      <ul>
        <%= render @created_events %>
      </ul>
      <h2>Upcoming Events</h2>
      <ul>
        <%= render @upcoming_events %>
      </ul>
      <h2>Past Events</h2>
      <ul>
        <%= render @past_events %>
      </ul>
    </section>
  </aside>
</div>
