<div class="row">
  <aside class="col-md-4">
    <section class="events_list">
      <h1>Upcoming Events</h1>
      <ul>
        <%= render @upcoming_events %>
      </ul>
      <h1>Past Events</h1>
      <ul>
        <%= render @past_events %>
      </ul>
    </section>
  </aside>
</div>
